@using CORE.Tables

@{
    List<TB_TYPES> types = (List<TB_TYPES>)ViewBag.ServiceType;
}

<nav class="navbar nav-menu hidden-xs">
    <div class="navbar-header">
        <a class="navbar-brand logo" href="/">
            <img alt="Dịch vụ" class="img-responsive" src="http://runecom41.runtime.vn/Uploads/shop264/images/logo.png">
        </a>
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <nav id="mobile-menu" class="mobile-menu collapse navbar-collapse">
        <ul class='menu nav navbar-nav'>
            <li class="level0"><a data-active="/" href='/'><span>Trang chủ</span></a></li>
            <li class="level0">
                <a href='#' data-active="/Services"><span>Văn phòng trọn gói</span><span class="caret"></span></a>
                <ul class="menu level1">
                    @foreach (TB_TYPES type in types.Where(x => x.TypeType == "VP"))
                    {
                        <li><a href=@("/Services/Search?group=" + type.TypeCode)>@type.TypeName</a></li>
                    }
                </ul>
            </li>
            <li class="level0">
                <a href='#' data-active="/Services"><span>Tổ chức sự kiện</span><span class="caret"></span></a>
                <ul class="menu level1">
                    @foreach (TB_TYPES type in types.Where(x => x.TypeType == "SK"))
                    {
                        <li><a href=@("/Services/Search?group=" + type.TypeCode)>@type.TypeName</a></li>
                    }
                </ul>
            </li>
            <li class="level0">
                <a data-active="/News" href='/News'><span>Tin tức</span><span class="caret"></span></a>
                <ul class="menu level1">
                    <li><a href="/News/Index?Type=KM">Tin khuyến mại</a></li>
                    <li><a href="/News/Index?Type=TT">Tin thị trường</a></li>
                </ul>
            </li>
            <li class="level0"><a data-active="" href='/Contact'><span>Liên hệ</span></a></li>
        </ul>
    </nav>
</nav>
<div class="row">
    <div class="header-bottom clearfix">
        <div class="header-bottom-content">
            <div class="header-bottom-block">
                <div class="col-md-3">
                    <div class="menu-cate hidden-xs">
                        <div class="menu-cate-title">
                            <span><i class="fa fa-bars"></i><a href="/Services">Danh mục dịch vụ</a></span>
                            <i class="fa fa-angle-down"></i>
                        </div>
                        <ul class="menu-cate-content">
                            @foreach (TB_TYPES cat in types)
                            {
                                <li>
                                    <a href="/Services/Search?group=@cat.TypeCode">
                                        <i class="icon-menu fa"></i>@cat.TypeName<span class="caret-menu"></span>
                                    </a>
                                    @*<div class="sub-menu">
                                            <ul class="colum0">
                                                <li><a href="/san-pham/ao-thun-nu-3593">&#193;o thun nữ</a></li>
                                                <li><a href="/san-pham/vay-nu-3595">V&#225;y nữ</a></li>
                                            </ul>
                                            <ul class="colum1">
                                                <li><a href="/san-pham/ao-so-mi-nu-3594">&#193;o sơ mi nữ</a></li>
                                                <li><a href="/san-pham/quan-nu-3596">Quần nữ</a></li>
                                            </ul>
                                        </div>*@
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 search-form hidden-xs hidden-sm">
                    <div class="search hidden-sm hidden-xs">
                        <div class="input-cat form-search clearfix">
                            <div class="form-search-controls">
                                <input type="text" name="search" id="txtsearch" onblur="if(this.value=='')this.value='Tìm kiếm...'"
                                       onfocus="if(this.value=='Tìm kiếm...')this.value=''" value="Tìm kiếm..." />
                            </div>
                            <button class="btn btn-search" title="Search" type="button" id="btnsearch" value="Search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse hidden-lg hidden-md hidden-sm" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand logo" href="/">
            <img alt="Dịch vụ & Sản phẩm" class="img-responsive" src="http://runecom41.runtime.vn/Uploads/shop264/images/logo.png">
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse" id="menu-icon">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!--/.nav-collapse -->
    <div class="row">
        <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
            <!-- MENU MAIN -->
            <ul id='nav' class='sf-menu-phone'>
                <li class="level0"><a class='' href='/'><span>Trang chủ</span></a></li>
                <li class="level0">
                    <a data-toggle="collapse" href='#'><span>Văn phòng trọn gói</span><span class="caret"></span></a>
                    <ul class="menu level1">
                        @foreach (TB_TYPES type in types.Where(x => x.TypeType == "VP"))
                        {
                            <li><a href=@("/Services/Search?group=" + type.TypeCode)>@type.TypeName</a></li>
                        }
                    </ul>
                </li>
                <li class="level0">
                    <a data-toggle="collapse" href='#'><span>Tổ chức sự kiện</span><span class="caret"></span></a>
                    <ul class="menu level1">
                        @foreach (TB_TYPES type in types.Where(x => x.TypeType == "SK"))
                        {
                            <li><a href=@("/Services/Search?group=" + type.TypeCode)>@type.TypeName</a></li>
                        }
                    </ul>
                </li>
                <li class="level0">
                    <a class='' href='/News'><span>Tin tức</span></a>
                    <ul class="menu level1">
                        <li><a href="/News/Index?Type=KM">Tin khuyến mại</a></li>
                        <li><a href="/News/Index?Type=TT">Tin thị trường</a></li>
                    </ul>
                </li>
                <li class="level0"><a class='' href='/lien-he.html'><span>Liên hệ</span></a></li>
            </ul>
        </div>
    </div>
</div>